<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.restapi.dao.FirstDAO">
    <select id="selectMmbrList" resultType="UserVO">
        select *
        from mmbr
    </select>

    <select id="selectAllUser" resultType="UserVO">
        SELECT *
        FROM mmbr
    </select>

    <select id="selectUser" resultType="UserVO">
        SELECT *
        FROM mmbr
        WHERE
            mmbr_id = #{mmbr_id}
    </select>

    <insert id="insertUser" parameterType="UserVO">
        INSERT INTO
            mmbr
        (
            mmbr_id,
            mmbr_pwd,
            mmbr_nm,
            mmbr_join_dtm
        )
        VALUES(
                  #{mmbr_id},
                  #{mmbr_pwd},
                  #{mmbr_nm},
                  now()
              )
    </insert>

    <update id="updateUser" parameterType="UserVO">
        UPDATE
            mmbr
        SET
            mmbr_nm = #{mmbr_nm},
            mmbr_pwd = #{mmbr_pwd},
            mmbr_join_dtm = now()
        WHERE
            mmbr_id = #{mmbr_id}
    </update>

    <delete id="deleteUser" parameterType="int">
        DELETE FROM mmbr WHERE user_id = #{mmbr_id}
    </delete>


</mapper>